body {
    /* background: linear-gradient(#111d30 80%,#002258, #1d4070, #7749bb, #e0ccff); */
    background: #ffffff;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    font-family: Arial, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    user-select: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    float: left;
    padding-left: 11px;
    padding-right: 11px;
}

a {
    text-decoration: none;
    background: transparent;
    transition: all .3s ease-in-out; 
    color: white;
    position: relative;
}

a:hover {
    cursor: pointer;
}

h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
    font-weight: lighter;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Oswald', sans-serif;
}

button {
    background-color: white;
    border: 0px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    /* overflow: scroll; */
    background: #ffffff;
    animation: imageAnimation 1s ease-in 100ms;
}

/* @keyframes imageAnimation {
    0% {
        background: #d4e4ff;
    }
    25% {
        background: #7692c2;
    }
    50% {
        background: #42587d;
    }
    75% {
        background: #1f2e47;
    }
    100% {
        background: #0c192e;
    }
} */

.inner {
    height: 100%;
    text-align: center;
    overflow: scroll;
}

.upper {
    height: 65%;
    text-align: center;
    background-color: #ffffff;
    overflow: scroll;
}

.lower {
    height: 35%;
    background-color: #ffa62b;
    overflow: scroll;
}

.lower div {
    height: fit-content;
    padding: 1vh 3vh;
}

.upper div {
    height: 100%;
}

.inner h1 {
    color: #ffffff;
    text-align: center;
    font-size: 55px;
    font-weight: lighter;
    margin: auto auto;
}

.inner h2 {
    padding-top: 0px;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    margin: auto auto;
}

.inner h3 {
    /* padding-top: 40px; */
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    margin: auto auto;
    padding-bottom: 10px;
    position:absolute;
    bottom: 0px;
}

.upper-inner {
    margin: auto auto;
}

.upper-inner h1 {
    padding-top: 15vh;
    font-size: 70px;
    color: #ffa62b;
}

.upper-inner h1 span {
    font-size: 40px;
    font-weight: lighter;
}

.lower-inner h2 span {
    font-size: 50px;
    font-weight: bold;
}

@media (max-width: 1100px) {
    .lower h1 {
        font-size: 45px;
    }

    .inner h2 {
        font-size: 40px;
    }

    .lower-inner h2 span {
        font-size: 50px;
    }
}

@media (max-width: 900px) {
    .lower h1 {
        font-size: 40px;
    }

    .lower h2 {
        font-size: 35px;
    }

    .lower-inner h2 span {
        font-size: 40px;
    }
}

@media (max-width: 750px) {
    .lower h1 {
        font-size: 30px;
    }

    .lower h2 {
        font-size: 25px;
    }

    .lower h3 {
        font-size: 10px;
    }

    .lower-inner h2 span {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .upper-inner h1 {
        font-size: 50px;
    }
}

.lower button {
    padding: 10px 10px;
    margin: 20px;
    font-size: 25px;
    border-radius: 8px;
    /* #0c192e old dark blue color */
    background: #2d6187;
    color: #2d6187;
    box-shadow: 0px 0px 0px 0px #050b148e;
    transition: box-shadow 200ms ease-out;
}

.inner button:hover {
    background: #2d6186;
    color: #2d6186;
    box-shadow: 0px 0px 10px 3px #224661;
    transition: box-shadow 400ms ease-out;
}