<!DOCTYPE html>
<head>
    <title>Edit ingredient</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/65913c67fd.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div>
    <nav class="navbar" style="background-color: #e3f2fd">
        <a class="navbar-brand" href="/">NutritionX</a>
        <a class="navbar-brand" href="/new_ingredient">
            <i class="fas fa-plus"></i>
        </a>
    </nav>
</div>
<div class="py-3 px-3">
    <h2>Edit ingredient</h2>
    <form method="post" action="/update">
        <div class="form-group">
            <input class="form-control" name="ingredientName" value="{{ row['ingredient_name'] }}" type="text" placeholder = "Ingredient name" autocomplete="off" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="ingredientImage" value="{{ row['ingredient_image'] }}" type="text" placeholder = "Ingredient image URL" autocomplete="off" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="ingredientCalories" value="{{ row['ingredient_calories'] }}" type="number" placeholder = "Calories" autocomplete="off" required>
        </div>

            <input name="ingredient_id" value="{{ row['ingredient_id'] }}" type="hidden">
            <input class="form-control btn btn-outline-success" type="submit" value="Submit">
    </form>
</div>