<!DOCTYPE html>

<title>List of Ingredients</title>
<h1><a href="/">NutritionX</a></h1>
<p><a href="/new_ingredient">Add Ingredient</a></p>

<form method="post" action="/search">
    <input name="ingredientHint" value="" type="text" placeholder = "Search Name" autocomplete="off" required>
    <input type="submit" value="Submit">
</form>

<p>{{msg}}</p>

<table>
    <tr>
        <th>Ingredient Name</th>
        <th>Ingredient Image</th>
        <th>Ingredient Calories</th>
    </tr>
    
    {% for row in rows %}
    <tr>
        <td>{{row['ingredient_name']}}</td>
        <td>{{row['ingredient_image']}}</td>
        <td>{{row['ingredient_calories']}}</td>
        <td><a href="/edit/{{row['ingredient_id']}}">EDIT</a></td>
        <td><a href="/delete/{{row['ingredient_id']}}">DELETE</a></td>
    </tr>
    {% endfor %}

</table>

