<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='static/home.css') }}" type="text/css" media=screen>-->
    <link rel="stylesheet"
          href= "{{ url_for('static',filename='styles/home.css') }}">
    <script src="https://kit.fontawesome.com/65913c67fd.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        <div class="container-sm">
            <nav class="navbar fixed-top">
                <ul class="navbar-nav ml-auto">
                    <row>
                        <a class="btn btn-primary btn-nav float-right ml-2" href="login.html" role="button">Log In</a>
                        <a class="btn btn-primary btn-nav float-right " href="login.html" role="button">Diet Preferences</a>
                    </row>
                </ul>
            </nav>
        </div>
        <div class="container-meals">
            <div class="row" style="height:inherit;">
                <div class="col-4">
                    <div class="card panel">
                        <!-- The container hodling the header buttons -->
                        <div class="card panel-item" style="min-height: 7.5vh;">
                            <div class="card-body" style="padding:0px">
                                <button class="btn btn-primary" type="button"
                                data-toggle="collapse" data-target="#generateCollapse"
                                aria-expanded="false" aria-controls="generateCollapse"
                                style="width: 60%;">Generate</button>
                                <a class="btn btn-primary" href="login.html" role="button"
                                style="width: calc(40% - 6px);">Blank Plan</a>
                            </div>
                        </div>
                        <br>

<!-- The collapsible container that holds the generate form -->
                        <div class="collapse" id="generateCollapse">
                            <div class="card card-body panel-item" style="min-height:7.5vh;">
                                <p>Plan Preferences</p>
<!-- TODO: change the action -->
                                <form method="post" action="/plan/generate">
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Plan Name</span>
                                        </div>
                                        <input class="form-control" name="planName" value="" type="text" autocomplete="off" required>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Number of Meals</span>
                                        </div>
                                        <input class="form-control" name="planNumMeals" value="" type="number" placeholder = "3 meals" autocomplete="off" required>
                                    </div>
<!-- TODO: The submit should add a plan with the provided name -->
                                    <input class="form-control btn btn-primary" type="submit" value="Submit">
                                </form>
                            </div>
                            <br>
                        </div>
                    {% for plan in plans %}
                        <tr>
                            <!-- All plan containers -->
                            <div class="card panel-item">
                                <div class="card-body" style="padding:0px">
                                    <p>{{plan['plan_name']}}</p>
                                    <p class="calories">{{plan['plan_calories']}} cal</p>
                                    <a href="/details/planid:{{plan['plan_id']}}" class="btn panel-btn btn-primary"></a>
<!-- TODO: THIS SHOULD DELETE A PLAN!!!! -->
                                    <td><a href="/plan/delete/{{plan['plan_id']}}" class="btn btn-danger">Delete</a></td>
                                </div>
                            </div>
                            <br>

                        </tr>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-4">
                    <div class="card panel">
                        <div class="card panel-item" style="min-height: 7.5vh;">
                            <div class="card-body" style="padding:0px">
                                <a class="btn btn-primary" href="login.html" role="button"
                                style="width: 60%;">Regenerate Plan</a>
                                <button class="btn btn-primary" type="button"
                                data-toggle="collapse" data-target="#addBlankMealCollapse"
                                aria-expanded="false" aria-controls="addBlankMealCollapse"
                                style="width: calc(40% - 6px);">Blank Meal</button>
                            </div>
                        </div>
                        <br>
                        <div class="collapse" id="addBlankMealCollapse">
                            <div class="card card-body panel-item" style="min-height:7.5vh;">
<!-- TODO: change the action -->
                                <form method="post" action="/TODO">
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Meal Name</span>
                                        </div>
                                        <input class="form-control" name="mealName" value="" type="text" autocomplete="off" required>
                                    </div>
<!-- TODO: The submit should add a meal with the provided name -->
<!-- DON'T FORGET! the meal must be attached to the current plan (somehow?) -->
                                    <input class="form-control btn btn-primary" type="submit" value="Add Meal">
                                </form>
                            </div>
                            <br>
                        </div>
                    {% for meal in meals %}
                        <!--This container holds all the meals-->
                        <div class="card panel-item">
                            <p>{{meal['meal_name']}}</p>
                            <p class="calories">{{meal['meal_calories']}}</p>
                            <a href="/details/planid:{{planID}}/mealid:{{meal['meal_id']}}" class="btn panel-btn btn-primary"></a>
<!-- TODO: THIS SHOULD DELETE A MEAL!!!! -->
                            <td><a href="/TODO" class="btn btn-danger">Delete</a></td>
                        </div>
                        <br>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-4">
                    <div class="card panel">
                        <div class="card panel-item" style="min-height: 7.5vh;">
                            <div class="card-body" style="padding:0px">
                                <a class="btn btn-primary" href="login.html" role="button"
                                style="width: 60%;">Lookup Food</a>
                                <button class="btn btn-primary" type="button"
                                data-toggle="collapse" data-target="#addCustomFoodCollapse"
                                aria-expanded="false" aria-controls="addCustomFoodCollapse"
                                style="width: calc(40% - 6px);">Add Custom</button>
                            </div>
                        </div>
                        <br>
                        <div class="collapse" id="addCustomFoodCollapse">
                            <div class="card card-body panel-item" style="min-height:7.5vh;">
<!-- TODO: change the action -->
                                <form method="post" action="/TODO">
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Meal Name</span>
                                        </div>
                                        <input class="form-control" name="foodName" value="" type="text" autocomplete="off" required>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Calories</span>
                                        </div>
                                        <input class="form-control" name="foodCalories" value="" type="number" autocomplete="off" required>
                                    </div>
<!-- TODO: The submit should add a food with the provided name -->
<!-- DON'T FORGET! the food must be attached to the current meal (somehow?) -->
                                    <input class="form-control btn btn-primary" type="submit" value="Add Custom Food">
                                </form>
                            </div>
                            <br>
                        </div>
                        {% for food in foods %}
                        <tr>
<!--This container holds all the foods-->
                                <div class="card panel-item">
                                    <p>{{food['food_name']}}</p>
                                    <p class="calories">{{food['food_calories']}} cal</p>
                                    <td><a href="/food/delete/{{food['food_id']}}" class="btn btn-danger">Delete</a></td>
                                </div>
                                <br>

                        </tr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
