<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='static/home.css') }}" type="text/css" media=screen>-->
    <link rel="stylesheet"
          href= "{{ url_for('static',filename='styles/home.css') }}">
    <script src="https://kit.fontawesome.com/65913c67fd.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #f0f0f0;">
    <div>
        <div class="container-sm">
            <nav class="navbar fixed-top">
                <ul class="navbar-nav ml-auto">
                    <row>
                        <a class="btn btn-primary btn-nav float-right ml-2 sexy" href="login.html" role="button">Log In</a>
                        <a class="btn btn-primary btn-nav float-right sexy" href="login.html" role="button">Diet Goal</a>
                    </row>
                </ul>
            </nav>
        </div>
        <div class="container-meals">
            <div class="row" style="height:inherit;">
                <div class="col-4">
                    <div class="card panel">
<!--This container holds all the plans-->
                        <div class="card panel-item">
                            <div class="card-body" style="padding:0px">
                                <p>Meal Name</p>
                                <p class="calories">4400 cal</p>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card panel">
<!--This container holds all the meals-->
                        <div class="card panel-item">
                            <p>Breakfast</p>
                            <p class="calories">4400 cal</p>
                        </div>
                        <br>
                        <div class="card panel-item">
                            <p>Lunch</p>
                            <p class="calories">4400 cal</p>
                        </div>
                        <br>
                        <div class="card panel-item">
                            <p>Dinner</p>
                            <p class="calories">4400 cal</p>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card panel">
<!--This container holds all the foods-->
                        <div class="card panel-item">
                            <p>Bananas</p>
                            <p class="calories">4400 cal</p>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

