:root{
  --l-red: #f33e56;
  --red: #d63248;
  --vl-green: #2bddb1;
  --l-green: #27c9a1;
  --green: #24be98;
  --d-green: #125f4c;
  --b-green: #202d2a;
  --b-radius: 12px;
  --btn-radius: 16px;
  --nav-height: 60px;
}
.inside-padding{
    padding: 20px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.form-control:focus {
    box-shadow: none !important;
}
.navbar{
    background-color: var(--green);
    min-height: var(--nav-height);
    box-shadow: 0 0 32px rgba(0,0,0,0.15);
}
.panel{
  border-color: white;
  height: 100%;
  box-shadow: 0 0 32px rgba(0,0,0,0.25);
  border-radius: var(--b-radius);
}
.panel-item{
  border-color: white;
  min-height: 15vh;
  box-shadow: 0 0 16px rgba(0,0,0,0.125);
  outline: none;
  padding: 16px;
  border-radius: var(--b-radius);
}
.panel-small{
  min-height: 5vh;
}
.panel-btn{
    padding: 0px;
    min-height: 6px;
    min-width: 100%;
    margin-top: calc(1vh);
}
.calories{
    text-align: left;
    /* padding-top: 0px; */
}
.container-scroll{
    height: 60vh;
    width: 100%;
    overflow-x: visible;
    overflow-y: scroll;
}
.container-meals{
  margin: auto;
  margin-top: calc(var(--nav-height) + 48px);
  max-width: 1300px;
  height: calc(85vh - var(--nav-height) - 32px);
}
.collapsing{
  -webkit-transition: none;
  transition: none;
  display: none;
}

/* The Primary Button Attributes */
.btn-primary{
    box-shadow: 0 0 16px rgba(0,0,0,0.125);
    border-radius: var(--btn-radius);
    background-color: var(--l-green);
    border-color: var(--l-green); /*set the color you want here*/
}
.btn-primary:hover{
    border-radius: var(--btn-radius);
    background-color: var(--vl-green);
    border-color: var(--vl-green); /*set the color you want here*/
}
.btn-primary:active,
.btn-primary:focus{
    border-radius: var(--btn-radius);
    background-color: var(--vl-green) !important;
    border-color: var(--vl-green) !important; /*set the color you want here*/
    box-shadow: 0 0 0px 6px rgba(96, 240, 185, 0.25) !important;
}

/* The secondary button attributes */
.btn-secondary{
    box-shadow: 0 0 16px rgba(0,0,0,0.125);
    border-radius: var(--btn-radius);
    background-color: white;
    border-color: white; /*set the color you want here*/
    color: black;
}
.btn-secondary:hover{
    border-radius: var(--btn-radius);
    background-color: var(--l-green);
    border-color: var(--l-green); /*set the color you want here*/
    color: white;
}
.btn-secondary:active,
.btn-secondary:focus{
    border-radius: var(--btn-radius);
    background-color: var(--vl-green) !important;
    border-color: var(--vl-green) !important; /*set the color you want here*/
    color: white;
    box-shadow: 0 0 0px 6px rgba(96, 240, 185, 0.25) !important;
}

/* The danger button attributes */
.btn-danger{
    box-shadow: 0 0 8px rgba(0,0,0,0.085);
    border-radius: var(--btn-radius);
    background-color: white;
    border-color: white; /*set the color you want here*/
    color: var(--red);
}
.btn-danger:hover{
    border-radius: var(--btn-radius);
    background-color: var(--l-red);
    border-color: var(--l-red); /*set the color you want here*/
    color: white;
}
.btn-danger:active,
.btn-danger:focus{
    border-radius: var(--btn-radius);
    background-color: var(--l-red);
    border-color: var(--l-red); /*set the color you want here*/
    color: white;
    box-shadow: 0 0 0px 6px rgba(240, 96, 96, 0.25) !important;
}